[role=banner]{
    background: white;
    display: flex;
    position: relative;
    z-index: 100;
}

.site-nav{
    background-color: #a3f8cb;
    color: white;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 14px;
}

.site-nav__secondary svg {
    fill: currentColor;
    height: 1.2em;
    margin-top: 3px;
    opacity: .6;
    width: 1.3em;
}

.ini-logo{
    margin-left: 40px;
    fill: grey;
    width: 25px;
    height: 25px;
}

.log2
{
    margin-left: 40px;
    display: flex;
    gap: 60;
}

.site-nav__secondary li+li {
    padding-left: 1.5em;
}

.site-nav__secondary li {
    flex: 0 0 auto;
}


.snv{
    display: flex;
    gap: 60px;
}

.svn{
    display: flex;
    gap: 60px
}

.site-nav__primary{
     font-family: titing-gotnic-condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
     font-size: .9055397728em;
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     letter-spacing: .1em;
     line-height: 1.5;
     text-transform: uppercase;
     display: flex;
     flex-direction: row;
     align-items: end;
}




.site-nav a {
    color: inherit;
    display: block;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border .15s ease-in-out;
}

.section--tan {
    background: #f6f5ea;
}

.section--center {
    text-align: center;
}

.section {
    padding: 40px 0;
}

section, summary {
    display: block;
}

.section__title--large {
    font-size: calc(1.5rem + .05*(100vw - 30rem));
    margin :0 0 0.5em
}

.section__title {
    color: #997e10;
    font-family: titling-gothic-condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

.section__icon{
    color:  #997e10;
    font-family: titling-gothic-condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}

.section__icon {
    display: block;
    fill: currentColor;
    height: 1.0833em;
    margin: 0 auto 0.5em;
    opacity: .35;
    width: 1.125em;
}

.section__description--narrow {
    max-width: 23em;
}

.section__description {
    font-size: 2rem;
    color: #444;
    line-height: 1.5385;
    margin: 0 auto;
    max-width: 38em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.help {
    margin-left: 30px;
    padding-left: 20px;
}

.sign {
    margin-left: 20px;
}

.feature__badge {
    font-size: .8125rem;
    align-items: center;
    background: #222222;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-family: titling-gothic-condensed,Helvetica Neue,Helvetica,Arial,sans-serif;
    height: 4.90909em;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    padding: 0 0.5em;
    position: absolute;
    right: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transform: translateY(-50%) rotate(-10deg);
    transition: transform .15s ease-in-out;
    width: 4.90909em;
    z-index: 1;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}



.pack-grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    margin-left: 100px;
    position: relative;
}

.pack-grid__images {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature__img{
    width: 100%;
}

.book-grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.content-with-sidebar1 {
    display: flex;
    padding: 20px 200px;
}

.content-with-sidebar2 {
    padding-top: 30px;
    margin-top: 30px;
    border-top-style: solid;
    border-top-width: 1px;
}


.content-with-sidebar h2.title {
    display: inline;
    float: left;
    width: 93.75%;
    margin-left: 3.125%;
    margin-right: 3.125%;
}

.callout h3 {
    font-weight: 500;
    font-style: normal;
    font-size: .875em;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #997e11;
    margin-bottom: 7px;
}

#faqs {
    display: inline;
    float: left;
    width: 93.75%;
    margin-left: 3.125%;
    margin-right: 3.125%;
}

#faqs h4 {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.25em;
}

.subsection h3 {
    font-weight: 500;
    font-style: normal;
    margin-bottom: 12px;
    font-size: .9375em;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.subsection h3, th {
    color: #997e11;
}

.callout p, .errors p, .errors li {
    font-size: .875em;
    line-height: 1.5em;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

aside .subsection a {
    text-decoration: none;
}

aside .subsection a {
    text-decoration: none;
}

#faqs {
    display: inline;
    float: left;
    width: 93.75%;
    margin-left: 3.125%;
    margin-right: 3.125%; 
}

.divider-top, .divider-top-thick {
    padding-top: 30px;
    margin-top: 30px;
    border-top-style: solid;
    border-top-width: 1px;
}

#main2{
    display: flex;
    width: 640px;
    margin: 0 auto 48px;
    
}

aside {
    display: inline;
    width: 220px;
    float: right;
    border-left: solid 1px #bbbbbb;
    padding-left: 20px;
    
}

.book-thumb img {
    vertical-align: middle;
    width: 100%;
}

.about-person-avatar {
    height: 50px;
}

.about-person-info {
    display: flex;
    flex-direction: column;
}


h2.title2 {
    width: 380px;
}

.about-person-title {
    display: flexbox;
    font-size: .875em;
    font-style: italic;
    width: 80%;
    color: #998f52;
}

#main3{
    display: flex;
    width: 640px;
    margin: 0 auto 48px;
    
}

.about-text p {
    font-size: 1em;
    margin-bottom: 16px;
    font-size: 1.125em;
    line-height: 1.5em;
}

.about-main-people {
    display: flex;
    zoom: 1;
    margin-bottom: -30px;
}

.main4{
    display: flex;
    width: 640px;
    margin: 0 auto 48px;
    
}

.about-people {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
}

* {
    list-style-type: none;
}

#press-room{
   flex-basis: 80%;
}

.site-footer-grid{
 flex-wrap: wrap;
}

h2.title {
    margin-bottom: 24px;
    font-size: 5em;
    letter-spacing: 1px;
}

.press-list{
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#press-room{
    margin-left: 10px;
    margin-right: 10px;
}

.aside2 {
    display: inline;
    width: 220px;
    float: right;
    border-left: solid 1px #bbbbbb;
    padding-left: 20px;
    
}

.divider-bottom, .divider-bottom-thick {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

